.AlertDeleteCard {
    animation-name: AlertCardMsg ;
    animation-duration: 0s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    margin-top: 1rem;
}
.AlertEditCard {
    animation-name: AlertCardMsg ;
    animation-duration: 0s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes AlertCardMsg {
    0%{
        opacity: 1;
        margin-top: 1rem;
    }
    100%{
        opacity: 0;
        display: none;
        height: 0;
        margin: 0;
        padding: 0;
    }
}